.wrapper {
    padding: 24px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

.card {
    padding: 24px;
    display: flex;
}

.card__image {
    text-align: center;
}

.card__text_aph {
    margin: 12px 0;
}

.card__text_author {
    text-align: right;
}