@import '../../styles/variables.scss';

.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.layout__navbar {
    margin-right: auto;
}

.layout__navbar > div {
    margin-right: 24px;
}

.layout__navbar a {
    font-size: x-large;
    text-decoration: none;
    color: $text-color;
}

.main {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../../public/common-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    flex: 1 1 auto;
}

.footer {
    padding: 12px 0;
}

.footer__author {
    color: $text-color;
}

.footer__links a {
    display: flex;
    text-decoration: none;
    color: $text-color;
    margin-right: 24px;
}

.footer__links_img {
    margin-right: 12px;
}

.layout__navbar a:hover, .footer__links a:hover {
    color: $hover-text-color;
}

.layout__navbar_underline {
    background: $text-color;
    height: 3px;
    width: 0;
}

.layout__navbar_selected {
    animation-duration: 0.7s;
    animation-name: selected-nav;
    width: 100%;
}

@keyframes selected-nav {
    from {
      width: 0
    }
  
    to {
      width: 100%
    }
  }