.bookSmallCard {
    padding: 12px;
    width: 200px;
    text-align: center;
    display: grid;
    grid-template-rows: 30px 100px 60px;
    grid-gap: 12px;
    & a {
        text-decoration: none;
        color: inherit;
    }
    &__title {
        font-size: medium;
        font-weight: 700;
    }
    &__textContainer {
        font-size: small;
    }
}