.bookSmallCard {
    padding: 12px;
    margin: 24px 0;
    grid-gap: 24px;
    width: 200px;
    height: 270px;
    text-align: center;
    display: grid;
    grid-template-rows: 30px 100px 30px;
    margin-right: 24px;
    &__textContainer {
        font-size: small;
        &_title {
            font-size: medium;
            font-weight: 700;
        }
    }
}