.booksPage__wrapper {
    margin: 24px 0;
}

.booksPage__cards {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;

    & a {
        text-decoration: none;
        color: inherit;
    }
}