.booksPage__wrapper {
    margin: 24px 0;
}

.booksPage__addButton {
    margin-bottom: 24px;
}

.booksPage__total {
    margin-bottom: 12px;
    font-size: large;
}

.booksPage__cards {
    display: flex;
    flex-wrap: wrap;
    &_card {
        margin: 12px 12px 0 0;
    }
}