.bookLargeCard {
    margin: 24px 0;
    padding: 24px;
    &__content {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-gap: 24px;
        &__text {
            margin: -8px 0;
            &_title {
                font-size: x-large;
                font-weight: 700;
            }
        }
    }
}

.removeButton {
    text-align: right;
    margin: 32px 24px 0 0;
}